@charset "UTF-8";
/*général*/
* {
  font-family: "roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  min-width: 375px;
  height: 1200px;
}

body {
  margin: 0;
}

/*mixin*/
/*keyframes*/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes dots {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slow-appear {}
.loader {
  position: fixed;
  background-color: white;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 0.01s;
  animation-fill-mode: both; /*pour que le loader reste en place avant et après l'animation*/
  animation-delay: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .dots {
  width: 10%;
  height: 60px;
  background: radial-gradient(circle closest-side, #9356DC 100%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #ff79da 100%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #99E2D0 100%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 13.4px;
  background-repeat: no-repeat;
  animation: dots 1.7s infinite linear;
}

/*header homepage*/
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.header__logo {
  height: 36px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 100%;
  height: 50px;
}
.header__icon--lieu {
  font-size: 18px;
}
.header__icon--text {
  font-size: 16px;
  margin: 0;
}

/********SECTION RESERVATION*********/
.hero {
  text-align: center;
  height: 280px;
  padding-top: 57px;
  background-color: #F6F6F6;
}
.hero__title {
  font-size: 24px;
}
.hero__subtitle {
  width: 100%;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
  line-height: 26px;
  margin-bottom: 30px;
}

.btn__purple {
  width: 55%;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356DC);
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: #9356DC;
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn__purple:active {
  background-color: white;
  box-shadow: 0px 4.01px 15.04px 0px black;
}

/*****SECTION FONCTIONNEMENT******/
.tuto {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: 440px;
  gap: 32px;
  border: #9356DC;
  background-color: white;
}
.tuto__title {
  margin: 0;
  padding-left: 20px;
}
.tuto__steps {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}

.tuto__step {
  width: 82%;
  height: 72.38px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  background-color: #F3F3F3;
  border: #F3F3F3;
  box-shadow: 0 3px 10px darkgray;
  position: relative;
}

.tuto__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
  width: 79%;
}

.tuto__icon {
  color: #7E7E7E;
  font-size: 20px;
}

.tuto__text {
  font-size: 16px;
  font-weight: 500;
}

.badge-purple {
  background-color: #9356DC;
  color: white;
  width: 9%;
  height: 26px;
  right: 96%;
  border-radius: 50px;
  font-size: 14.18px;
}

/*****SECTION RESTAURANTS******/
.restaurants {
  height: 1351px;
  margin-top: 30px;
  padding-top: 0; /*pcq le padding 11px se repetait*/
  background-color: #F6F6F6;
}
.restaurants__title {
  padding-top: 46px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  width: 93%;
  height: 251px;
  border-radius: 20px;
  background-color: white;
  position: relative;
}
.card__img {
  width: 100%;
  object-fit: cover;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 15px;
  padding-top: 5px;
  width: 79%;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  margin: 0;
}

.card__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 15.04px;
  white-space: nowrap;
}

.btn-heart {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.badge-vert {
  background-color: #99E2D0;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  color: #008766;
  width: 26%;
  height: 29px;
  left: 67%;
  top: 5%;
}

/*******MENU******/
/*header menu*/
.header__menu {
  gap: 65px; /*pour mettre le logo au milieu*/
  display: flex;
  align-items: center;
}

.header__menu--icon {
  font-size: 17.02px;
  margin-left: 15px;
  color: black;
}

.header__menu--logo {
  height: 36px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*banniere*/
.menu__banniere {
  width: 100%;
  height: 299px;
  object-fit: cover;
}

/*menu restaurant*/
.menu {
  padding-bottom: 359px;
  height: 1307px;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -31px;
  padding-top: 20px;
  background-color: #F6F6F6;
}

.menu__header {
  display: flex;
  gap: 15px;
  margin-top: 32px;
}

.menu__title {
  height: 29px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding-left: 17px;
  margin: 0;
  width: 100%;
}

.menu__btn {
  font-size: 25px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  width: 20%;
}

.menu__like--nobg {
  position: absolute;
  top: 20%;
  left: 25%;
}
.menu__like--nobg:active {
  opacity: 0;
}

.menu__like--bg {
  color: #ff79da;
  position: absolute;
  border: transparent;
  opacity: 0;
  top: 18%;
  left: 25%;
}
.menu__like--bg:active {
  opacity: 1;
}

.submenu {
  gap: 12px;
  margin-bottom: 40px;
  padding-top: 0; /*pcq le padding 11px se repetait*/
  display: flex;
  flex-direction: column;
  margin-top: 73px;
}
.submenu .submenu__title {
  width: 12%;
  height: 27px;
  font-weight: 300;
  font-size: 16px;
  border-bottom: 3px solid #99E2D0;
  margin-left: 20px;
}

.menuItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
  animation: appear 1s;
}
.menuItems .delay-0 {
  animation-delay: 0s;
}
.menuItems .delay-1 {
  animation-delay: 0.1s;
}
.menuItems .delay-2 {
  animation-delay: 0.2s;
}
.menuItems .delay-3 {
  animation-delay: 0.3s;
}
.menuItems .delay-4 {
  animation-delay: 0.4s;
}
.menuItems .delay-5 {
  animation-delay: 0.5s;
}
.menuItems .delay-6 {
  animation-delay: 0.6s;
}
.menuItems .delay-7 {
  animation-delay: 0.7s;
}
.menuItems .delay-8 {
  animation-delay: 0.8s;
}

.menuItems__card {
  border-radius: 15.04px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 69px;
  width: 93%;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden; /*pour cacher tout ce qui dépasse de la card*/
}
.menuItems__card:hover .menuItems__check {
  margin-right: 0;
}

.menuItems__content {
  width: 81%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menuItems__title {
  margin: 0;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.menuItems__subtitle {
  margin: 0;
  white-space: nowrap;
  font-size: 15.04px;
  font-weight: 300;
}

.menuItems__price {
  padding-top: 20px;
}

.menuItems__check {
  background-color: #99E2D0;
  width: 20%;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  margin-right: -5rem;
  transition-duration: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-fill-mode: both;
}

.menuItems__icon {
  border-radius: 50%;
  background-color: #99E2D0;
  color: white;
  transition-duration: 0.5s;
  font-size: 20px;
}

.cmd__btn {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

/*badge*/
.badge {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*footer*/
.footer {
  background-color: #353535;
  height: 186px;
  color: white;
  padding: 22px 25px 22px 25px;
}

.footer__content {
  display: flex;
  flex-direction: column;
}

.footer__logo {
  height: 27px;
  font-family: "Shrikhand";
  font-size: 18px;
}

.footer__link {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 99px;
  padding-top: 20px;
}

.footer__link--icon {
  display: flex;
  flex-direction: column;
  height: 19px;
  gap: 16px;
}

.icon-space {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.footer__link--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__link--color {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=mobile.css.map */
