@charset "UTF-8";
/*général*/
* {
  font-family: "roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1920px;
  min-width: 320px;
}

html, body {
  margin: 0;
}

/*mixin*/
/*keyframes*/
@keyframes disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes dots {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
@keyframes appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
/*loader*/
.loader {
  position: fixed;
  background-color: #FFFFFF;
  inset: 0;
  z-index: 1;
  opacity: 1;
  animation: disappear 0.01s;
  animation-fill-mode: both; /*pour que le loader reste en place avant et après l'animation*/
  animation-delay: 0.9s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader .dots {
  width: 10%;
  height: 60px;
  background: radial-gradient(circle closest-side, #9356DC 100%, rgba(0, 0, 0, 0)) 0% 50%, radial-gradient(circle closest-side, #ff79da 100%, rgba(0, 0, 0, 0)) 50% 50%, radial-gradient(circle closest-side, #99E2D0 100%, rgba(0, 0, 0, 0)) 100% 50%;
  background-size: 33.3333333333% 13.4px;
  background-repeat: no-repeat;
  animation: dots 1.7s infinite linear;
}

/*header homepage*/
.header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
}
.header__logo {
  height: 36px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 15px;
}
.header__icon {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 17px;
  background-color: #EAEAEA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  width: 100%;
  height: 50px;
}
.header__icon--lieu {
  font-size: 18px;
  color: #353535;
}
.header__icon--text {
  font-size: 16px;
  margin: 0;
}

/********SECTION RESERVATION*********/
.hero {
  text-align: center;
  height: 280px;
  padding-top: 57px;
  background-color: #F6F6F6;
}
.hero__title {
  font-size: 24px;
  width: 100%;
}
.hero__subtitle {
  width: 100%;
  height: 46px;
  font-weight: 300;
  font-size: 18px;
  margin-top: 0;
  line-height: 26px;
  margin-bottom: 30px;
}

.btn__purple {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(#ff79da, #9356DC);
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 500;
  border: none;
  transition-duration: 0.25s;
  cursor: pointer;
  transition-duration: 0.25s;
}
.btn__purple:active {
  background-color: #FFFFFF;
  box-shadow: 0px 4.01px 15.04px 0px black;
}

.btn-explorer {
  max-width: 218px;
}

/*****SECTION FONCTIONNEMENT******/
.tuto {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: 440px;
  gap: 32px;
  border: #9356DC;
  background-color: #FFFFFF;
}
.tuto__title {
  margin: 0;
  padding-left: 20px;
}
.tuto__steps {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
}
.tuto__step {
  width: 82%;
  height: 72.38px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  gap: 22px;
  background-color: #F3F3F3;
  border: #F3F3F3;
  box-shadow: 0 3px 10px darkgray;
  position: relative;
}
.tuto__content {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  width: 100%;
}
.tuto__icon {
  color: #7E7E7E;
  font-size: 20px;
  cursor: pointer;
}
.tuto__icon--lieu {
  font-size: 18px;
}
.tuto__text {
  font-size: 16px;
  font-weight: 500;
}
.tuto .tuto-icon-label {
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.tuto .tuto-icon-label .tuto-checkbox {
  display: none;
}
.tuto .tuto-icon-label .tuto-checkbox:checked + .tuto__icon {
  color: #9356DC;
}

.badge-purple {
  background-color: #9356DC;
  color: #FFFFFF;
  max-width: 26px;
  height: 26px;
  right: 96%;
  border-radius: 50px;
  font-size: 14.18px;
}

/*****SECTION RESTAURANTS******/
.restaurants {
  height: 1351px;
  margin-top: 30px;
  padding-top: 0; /*pcq le padding 11px se repetait*/
  background-color: #F6F6F6;
}
.restaurants__title {
  padding-top: 46px;
  padding-left: 20px;
  padding-bottom: 15px;
}

.cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card {
  width: 95%;
  height: 251px;
  border-radius: 20px;
  background-color: #FFFFFF;
  position: relative;
}
.card__img {
  width: 100%;
  object-fit: cover;
  height: 174px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.card__content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.card__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 15px;
  padding-top: 5px;
  width: 100%;
}
.card__title {
  font-weight: 500;
  font-size: 18px;
  white-space: nowrap;
  margin: 0;
}
.card__subtitle {
  margin: 0;
  font-weight: 300;
  font-size: 15.04px;
  white-space: nowrap;
}

.like-btn {
  display: inline-block;
  cursor: pointer;
  position: relative;
  right: 13%;
}
.like-btn .like-checkbox {
  display: none; /*cacher la checkbox elle-même*/
}
.like-btn .heart-icon {
  position: relative;
  display: inline-block;
  font-size: 22px;
  bottom: -3%;
}
.like-btn .heart-icon .empty-heart {
  opacity: 1; /*le coeur vide est visible par défaut*/
  position: absolute;
}
.like-btn .heart-icon .fill-heart {
  opacity: 0; /*le coeur rempli est caché par défaut*/
  color: transparent;
  background-image: linear-gradient(#ff79da, #9356DC);
  background-clip: text;
  position: absolute;
}
.like-btn .like-checkbox:checked + .heart-icon .empty-heart {
  opacity: 0; /*lorsque la checkbox est cochée, le coeur vide disparait*/
}
.like-btn .like-checkbox:checked + .heart-icon .fill-heart {
  opacity: 1; /*lorsque la checkbox est cochée, le coeur rempli devient visble*/
}

.badge-vert {
  background-color: #99E2D0;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
  color: #008766;
  max-width: 80px;
  height: 29px;
  right: 5%;
  top: 5%;
  font-size: 14px;
}

/*******MENU******/
/*header menu*/
.header__menu {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.header__menu--icon {
  font-size: 17.02px;
  color: black;
  position: absolute;
  left: 3%;
  bottom: 39%;
}
.header__menu--logo {
  height: 36px;
  object-fit: contain;
  padding-top: 15px;
  padding-bottom: 15px;
}

/*banniere*/
.menu__banniere {
  width: 100%;
  height: 299px;
  object-fit: cover;
}

/*menu restaurant*/
.menu {
  padding-bottom: 359px;
  height: 1307px;
  position: relative;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -31px;
  padding-top: 20px;
  background-color: #F6F6F6;
}
.menu__header {
  display: flex;
  gap: 15px;
  margin-top: 22px;
}
.menu__title {
  height: 29px;
  font-family: "Shrikhand", sans-serif;
  font-weight: 400;
  font-size: 28px;
  padding-left: 12px;
  margin: 0;
  width: 100%;
}

.like-menu {
  right: 11%;
}
.like-menu .heart-menu {
  bottom: 25%;
}

.submenu {
  gap: 12px;
  margin-bottom: 40px;
  padding-top: 0; /*pcq le padding 11px se repetait*/
  display: flex;
  flex-direction: column;
  margin-top: 73px;
}
.submenu__title {
  height: 27px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  margin-left: 4%;
}
.submenu__title::after {
  content: "";
  position: absolute;
  display: inline;
  height: 5px;
  background-color: #99E2D0;
  bottom: -5%;
  width: 12%;
  left: 0;
  max-width: 42px;
}

.menuItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
}
.menuItems__card {
  border-radius: 15.04px;
  display: flex;
  align-items: center;
  gap: 15px;
  height: 69px;
  width: 93%;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  overflow: hidden; /*pour cacher tout ce qui dépasse de la card*/
  animation: appear 0.3s both;
  position: relative;
}
.menuItems__card:active .menuItems__check {
  margin-right: 0;
}
.menuItems__card:nth-child(0) {
  animation-delay: 0ms;
}
.menuItems__card:nth-child(1) {
  animation-delay: 100ms;
}
.menuItems__card:nth-child(2) {
  animation-delay: 200ms;
}
.menuItems__card:nth-child(3) {
  animation-delay: 300ms;
}
.menuItems__card:nth-child(4) {
  animation-delay: 400ms;
}
.menuItems__card:nth-child(5) {
  animation-delay: 500ms;
}
.menuItems__card:nth-child(6) {
  animation-delay: 600ms;
}
.menuItems__card:nth-child(7) {
  animation-delay: 700ms;
}
.menuItems__card:nth-child(8) {
  animation-delay: 800ms;
}
.menuItems__card:nth-child(9) {
  animation-delay: 900ms;
}
.menuItems__card:nth-child(10) {
  animation-delay: 1000ms;
}
.menuItems__content {
  width: 81%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItems__title {
  margin: 0;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItems__subtitle {
  margin: 0;
  white-space: nowrap;
  font-size: 15.04px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItems__price {
  padding-top: 20px;
  width: 15%;
  white-space: nowrap;
  margin-left: 15%;
}
.menuItems__check {
  background-color: #99E2D0;
  width: 100%;
  height: 100%;
  max-width: 59px;
  border-radius: 0px 15px 15px 0px;
  transition-duration: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-fill-mode: both;
  margin-right: -20%;
}
.menuItems__icon {
  border-radius: 50%;
  background-color: #99E2D0;
  color: #FFFFFF;
  transition: 0.3s;
  font-size: 20px;
}

.commander {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.commander .btn-cmd {
  max-width: 186px;
}

/*badge*/
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/*footer*/
.footer {
  background-color: #353535;
  height: 186px;
  color: #FFFFFF;
  padding: 22px 25px 22px 25px;
}
.footer__content {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  height: 27px;
  font-family: "Shrikhand";
  font-size: 18px;
}
.footer__link {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 99px;
  padding-top: 20px;
}
.footer__link--icon {
  display: flex;
  flex-direction: column;
  height: 19px;
  gap: 16px;
}
.footer__link--text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__link--color {
  color: inherit;
  text-decoration: none;
}

.icon-space {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/*# sourceMappingURL=mobile.css.map */
