@media (min-width: 768px) and (max-width: 1920px){

@mixin box-shadow-black{box-shadow: 0px 4.01px 15.04px 0px black;
}
@mixin flex-container($direction: column){
    display: flex;
    align-items: center;
    flex-direction: $direction;
}
$white: #FFFFFF;
$main-color: #9356DC;
.main-container {
    height: 1395px;      
} 
body{
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.hero{
    width: 100%;
    &__title{
    font-size: 40px;
}
}   

.btn__purple{
    &:hover {
        background-color: $white;
        box-shadow: 0px 4.01px 15.04px 0px black;
    }
}

.tuto{
    height: 268px;
    margin: 0;
    width: 100%;

    &__title{
    padding-left: 14%;
    padding-top: 4%;
}
    &__steps{
    flex-direction: row;
    gap: 26px;
    justify-content: center;
   }
    &__step{
    width: 23%;
}
    &__content{
        width: 80%;
}
    &__icon{
        &:hover{
        color: $main-color;  
        }
    
}
}
.badge-purple{
    max-width: 24px;
    height: 24px;
}
.restaurants{
    margin-top: 0;
    height: 734px;   
    width: 100%; 

    &__title{
   padding-top: 45px;
   padding-left: 14%;
}
}


.cards{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}
.card{
    width: 35%;

    &__content{
        width: 95%;
    }

    &__description{
        width: 100%;
    }
}


.badge-vert{
    width: 16%;
    left: 77%;
}



/*menu*/
.header__menu--logo{
    width: 86%;
}
.menu__banniere{
    width: 100%;
    object-fit: cover;
}
.menu{
    width: 100%;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    height: 1176px;
    max-width: 1055px;
    @include flex-container;
    &__header{
        width: 100%;
        max-width: 307px;
    }
    &__title{
    display: flex;
    justify-content: center;
    padding: 0;
    }
}

.like-btn{
    right: 5%;
    .empty-heart:hover{
        opacity: 0;
    }
    .fill-heart:hover{
        opacity: 1;
    }
}

.submenu{
    width: 100%;
    max-width: 634px;
    &__title{
        margin-left: 0;
    }
}
.cmd__btn{
    margin-top: 0;
    width: 100%;
}

.menuItems__card{
    width: 100%;
    max-width: 634px;
    &:hover .menuItems__check{
        margin-right: 0;       
    } 
}

.menuItems__content{
    width: 90%;
}
.menuItems__price{
    width: 5%;
    margin-left: 5%;
}
.menuItems__check{
    margin-right: -10%;
}
.commander{
    width: 100%;
    margin-top: 20px;
} 
.footer{
     height: 114px;
     display: flex;
     flex-direction: row-reverse;
     width: 100%;
     max-width: 1920px;
     padding: 22px 0 22px 0;
     
    &__content{
     display: flex;
     width: 76%;
     max-width: 765px;
     margin-right: 4%;
     flex-direction: row-reverse;
     align-items: flex-end;
     gap: 53px;
}

    &__link{
     flex-direction: row;
     align-items: end;
     gap: 50px;
     width: 100%;
     max-width: 661px;
     &--icon{
        white-space: nowrap;
        text-decoration: none;
        color: inherit;
        flex-direction: row;
}
    &--text{
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        gap: 23px;
        }
    }
} 
}
